<div class="content-center relative flex flex-col items-center justify-center h-auto ">
  <div class=" max-w-3xl flex-col w-full p-8 bg-gray-100 dark:bg-gray-700 dark:text-white shadow-xl h-full">
    <h2 class="text-3xl border-b pb-1.5 mb-5">Stores</h2>

    <div class="fex-col sm:flex gap-2">
    <ng-container *ngIf="!showItems else listTemplate">
      <div class="border border-red-300  dark:border-white dar shadow  mt-5 p-4 w-full">
        <div class="flex fex-col sm:flex-row gap-2">
          <div class="animate-pulse flex space-x-4 sm:w-2/4">
            <div class="rounded-sm bg-blue-400 dark:bg-white h-24 w-24"></div>
            <div class="flex-1 space-y-4 py-1">
              <div class="h-4 bg-blue-400 rounded  dark:bg-white w-full"></div>
              <div class="space-y-2">
                <div class="h-4 bg-blue-400 rounded dark:bg-white w-6/12"></div>
                <div class="h-4 bg-blue-400 rounded dark:bg-white w-4/12"></div>
              </div>
            </div>
          </div>

          <div class="animate-pulse sm:flex-wrap flex content-end sm:pl-20 justify-end w-full sm:w-1/3">
            <div class="flex-1 space-y-4 py-1">
              <div class="h-4 bg-blue-400 rounded dark:bg-white w-6/12"></div>
              <div class="space-y-2">
                <div class="h-4 bg-blue-400 rounded  dark:bg-white w-4/6"></div>
                <div class="h-4 bg-blue-400 rounded  dark:bg-white w-4/12"></div>
              </div>
            </div>
          </div>

          <div class="animate-pulse flex space-x-4 w-full justify-end sm:w-1/4 ">
            <div class="sm:flex flex-wrap content-center justify-end gap-2 w-full">
              <div class="h-10 bg-blue-400 rounded  dark:bg-white w-16"></div>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

    <ng-template #listTemplate>
      <div class="container">
        <ng-container *ngFor="let store of stores;">
            <div class="fex-col sm:flex gap-2 mt-5 p-4 border">
              <div class="flex gap-3 w-full sm:w-2/4">
                <div>
                  <img [src]="imageUrl | async" class="img-store">
                </div>
                <div class="flex flex-col gap-2">
                  <span class="text-2xl font-medium leading-5">{{store.chainsawStoreName}}</span>
                  <span class="text-sm font-extralight leading-6 ">{{store.chainsawStoreAddress}}</span>
                </div>
              </div>
              <div class="sm:flex flex-wrap content-center justify-end  gap-2 w-full sm:w-1/4">
                <button [routerLink]="['/stores', store.chainsawStoreId]"
                        class="py-1 px-2 border shadow-sm text-base font-normal rounded-md text-white bg-picton-blue dark:bg-gray-700">
                  Details
                </button>
              </div>
            </div>
        </ng-container>
      </div>
    </ng-template>

  </div>
</div>



