<div class="relative flex items-center justify-center h-auto">
<div class="max-w-3xl w-full p-8 bg-gray-100 dark:bg-gray-700 dark:text-white shadow-xl h-full">
  <div class="flex">
    <div>
      <h1 class="text-gray-800 dark:text-white line-height-home-title text-6xl mt-5 mb-2 font-medium">Ordering chainsaws has never been easier</h1>
      <p class="mt-4 mb-4 text-black font-extralight dark:text-white text-xl " >
        We make it easier than ever to order chainsaws from your favorite chainsaw stores.
      </p>
      <button routerLink="/stores"
              class="py-3 px-4 mt-3 border shadow-sm text-lg font-normal rounded-md text-white bg-blue-600 dark:bg-gray-700">Choose a Store</button>
    </div>
    <div class="hidden sm:block sm:ml-6">
      <img [src]="imageUrl | async" alt="Image not found" class="img-height-width-homepage" />
    </div>
  </div>
</div>
</div>

